<a href="https://colab.research.google.com/github/siddhm11/GammaHadron/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Introduction

In this notebook, we summarize some of the essential tools, libraries, and languages used in the field of Data Science. It also includes a few code examples to illustrate basic arithmetic operations.

## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

## Data Science Libraries

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

## Table of Data Science Tools

| Tool           | Category           | Description                        |
|----------------|--------------------|------------------------------------|
| Jupyter        | Notebook Interface | Interactive coding environment     |
| RStudio        | IDE                | Integrated environment for R       |
| Apache Spark   | Big Data Framework | Distributed computing framework    |
| TensorFlow     | Deep Learning      | Neural network modeling            |
| KNIME          | Workflow Tool      | Visual programming for analytics   |

## Introducing Arithmetic Expressions

In this section, we will explore how to perform simple arithmetic operations like addition and multiplication.

In [2]:
# This expression multiplies 3 and 4 and then adds 5 to the result
result = (3 * 4) + 5
result

17

In [3]:
# Convert 200 minutes into hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Create tables using Markdown
- Demonstrate arithmetic expressions in Python
- Convert minutes to hours using Python code

## Author

Siddh Mehta